header {
  background-color: $grey8;
}

nav {
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  color: $white;
  font-weight: 700;
  font-size: $font-size-large;
}

nav :global(a) {
  color: $white;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li {
  margin-left: $margin;
}

li :global(a) {
  font-weight: 700;
}
