html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: 0;
  * {
    box-sizing: border-box;
  }
}

.container {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-right: $padding;
  padding-left: $padding;
}
